*
{
  box-sizing: border-box;
}


.page {
    width: 100%;
    height: 100vh;
    background:  #f1f1f1;
    font-family: 'Encode Sans Condensed', sans-serif;
    font-weight: 600;
    letter-spacing: .03em;
    color: #073f00;
  }
  
  header {
    display: flex;
    position: fixed;
    width: 100%;
    height: 70px;
    font-size: 2rem;
    background: #f1f1f1;
    color: #073f00;
    justify-content: center;
    align-items: center;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.75);
  }

  .logo {
      width: 120px;
  }

 #nav-container {
    position: fixed;
    height: 100vh;
    width: 100%;
    pointer-events: none;
  }
  #nav-container .bg {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    height: calc(100% - 70px);
    visibility: hidden;
    opacity: 0;
    transition: .3s;
    background: #000;
  }
  #nav-container:focus-within .bg {
    visibility: visible;
    opacity: .6;
  }
  #nav-container * {
    visibility: visible;
  }
  
  .button {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
    -webkit-appearance: none;
    border: 0;
    background: transparent;
    border-radius: 0;
    height: 70px;
    width: 30px;
    cursor: pointer;
    pointer-events: auto;
    margin-left: 25px;
    touch-action: manipulation;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
  }
  .icon-bar {
    display: block;
    width: 100%;
    height: 3px;
    background: #aaa;
    transition: .3s;
  }
  .icon-bar + .icon-bar {
    margin-top: 5px;
  }
  
  #nav-container:focus-within .button {
    pointer-events: none;
  }
  #nav-container:focus-within .icon-bar:nth-of-type(1) {
    transform: translate3d(0,8px,0) rotate(45deg);
  }
  #nav-container:focus-within .icon-bar:nth-of-type(2) {
    opacity: 0;
  }
  #nav-container:focus-within .icon-bar:nth-of-type(3) {
    transform: translate3d(0,-8px,0) rotate(-45deg);
  }
  
  #nav-content {
    margin-top: 70px;
    padding: 20px;
    width: 90%;
    max-width: 300px;
    position: absolute;
    top: 0;
    left: 0;
    height: calc(100% - 70px);
    background: #ececec;
    pointer-events: auto;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    transform: translateX(-100%);
    transition: transform .3s;
    will-change: transform;
    contain: paint;
  }
  
  #nav-content ul {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  #nav-content li a {
    padding: 10px 10px 10px 10px;
    margin: 10px 0 10px 0;
    display: block;
    text-transform: uppercase;
    transition: color .1s;
  }
  
  #nav-content li a:hover {
    color: #BF7497;
  }
  
  #nav-content li:not(.small) + .small {
    margin-top: auto;
  }
  
  input {
      padding: 16px 24px;
      font-size: 1rem;
      background-color: #f1f1f1;
      border-radius: 10px;
      border: solid 1px #073f00;
  }

  .socials {
      display: flex;
      flex-direction: row;
      margin-top: 1em;
      justify-content: space-evenly;
  }

  .socialimg {
      width: 60px;

  }
  .small {
    display: flex;
    align-self: center;
  }
  
  .small a {
    font-size: 12px;
    font-weight: 400;
    color: #888;
  }
  .small a + a {
    margin-left: 15px;
  }
  
  #nav-container:focus-within #nav-content {
    transform: none;
  }
  
  
  
  
  
  /*styling af burger menuen*/
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  html, body {
    height: 100%;
  }
  
  a,
  a:visited,
  a:focus,
  a:active,
  a:link {
    text-decoration: none;
    outline: 0;
  }
  
  a {
    color: currentColor;
    transition: .2s ease-in-out;
  }
  
  h1, h2, h3, h4 {
    margin: 0;
  }
  
  ul {
    padding: 0;
    list-style: none;
  }
  
  img {
    vertical-align: middle;
    height: auto;
    width: 100%;
  } 

  body
  {
    min-height: 1000px;
  }

  .banner
  {
    
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(banner.jpg);
    background-size: cover;
    padding: 100px;
    
  }

  .banner .content
  {
    max-width: 900px;
    text-align: center;
  }
  .banner .content h2
  {
    font-size: 5em;
    color: white;
  }
  .banner .content p
  {
    font-size: 1em;
    color: white;
    margin-top: 20px;
  }

  .button-et
  {
    font-size: 1.2em;
    color: white;
  
    display: inline-block;
    margin-top: 20px;
    margin-right: 50px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
    z-index: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
    -webkit-appearance: none;
    border: 0;
    background: transparent;
    border-radius: 0;
    height: 70px;
    width: 30px;
    cursor: pointer;
    pointer-events: auto;
    margin-left: 25px;
    touch-action: manipulation;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    
  }
  .button:hover
  {
    letter-spacing: 6px;
  }


  .banner-to
  {
    
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
  }
  
  .banner-to .content-to
  {
    max-width: 900px;
    margin-top: -50px;
  }

  .banner-to .content-to p
  {
    font-size: 1em;
    
    margin-top: 5px;
   
  }

  .button-to
  {
    font-size: 1.2em;
    margin-left: 10px;
    padding: 15px 32px;
  text-align: center;
    display: inline-block;
    
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
    
    align-items: center;
  
  }
  

  .banner-tre
  {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  .banner-tre .content-tre
  {
    max-width: 900px;
    margin-top: -300px;
    
  }

  .banner-tre .content-tre p
  {
    font-size: 1em;
    margin-top: 5px;
   
  }

  .button-tre
  {
    font-size: 1.2em;
  
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    margin-left: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
    
    align-items: center;
    
  }

  footer
{
    padding: 2.5rem 0;
    background-color: #f2f2f2;
    text-align: center;
    color: rgba(0,0,0,.7);
}
  
.bigimg {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  background-image: url(bil1.jpg);
  width: 100%;
  height: 736px;
  background-position: center;
  background-size: cover;
}

.her {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: flex-end;
  width: 100%;
  border-bottom: solid 1px black;
  height: 125px;
  background-color: rgba(0, 0, 0, 0.37);
}

.pil {
  color: #f1f1f1;
  align-self: flex-end center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 390px;
  width: 80px;
}
.se {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 2em;
}

.se a {
    box-shadow:inset 0px 0px 15px 3px #2c5c23;
	background:linear-gradient(to bottom, #2e6e36 5%, #418741 100%);
	background-color:#2e6e36;
	border-radius:12px;
	border:1px solid #20451e;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:6px 13px;
	text-decoration:none;
	text-shadow:0px 1px 0px #366627;
    text-align: center;
}

h4 {
    font-size: 1.rem;
}

.danmarkskort {
    margin-top: 2em;
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
}

.vierher {
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 2em;
    margin-bottom: 2em;
}

.vierher div {
    text-align: center;
}

.vierher ul {
    margin-top: 10px;
}

.vierher li {
    margin-top: 5px;
}

.showrooms {
    width: 100%;
    height: 650px;
    background-color: rgb(240, 240, 240);
    box-shadow: inset 0px 0px 4px 0px rgba(0,0,0,0.75);
    text-align: center;
}

.showroomh  {

    font-size: 2rem;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.showrooms p {
    margin-left: 10px;
    margin-right: 10px;
}
.grid1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  padding-right: 1em;
  padding-left: 1em;
  padding-top: 1em;
}

.grid1 img {
  max-width: 100%;
  max-height: 100%;
}

.showroombillede1 {
  grid-column: 1 / 3;
}


.ladestationer {
  margin-top: 2em;
  width: 100%;
  height: 750px;
  background-color: rgb(240, 240, 240);
  box-shadow: inset 0px 0px 4px 0px rgba(0,0,0,0.75);
  text-align: center;
  margin-bottom: 2em;
}
.grid1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    padding-right: 1em;
    padding-left: 1em;
    padding-top: 1em;
  }
  
  .showroombillede1 {
    grid-column: 1 / 3;
  }

.showroombilleder div {
    background-color: blueviolet;
}


.ladestationer p {
  margin-left: 10px;
  margin-right: 10px;
}
.parkering {
    width: 100%;
    height: 750px;
    background-color: rgb(240, 240, 240);
    box-shadow: inset 0px 0px 4px 0px rgba(0,0,0,0.75);
    text-align: center;
}
.parkering h3 {
    padding-top: 0;
}
.parkering p {
    margin-left: 10px;
    margin-right: 10px;
}

.parkeringgrid {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
    padding-right: 1em;
    padding-left: 1em;
    padding-top: 1em;
}
.gridelement1 {
    grid-row: 1;
}

.gridelement2 {
    grid-row: 2;
}
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
}

.overskrift {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: solid 1px #073f00 ;
    width: 250px;
    
}

.overskriften {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: flex-end;
  width: 100%;
  height: 130px;
  background-color: #949494;
  border-bottom: solid 1px black;

}
.mainen {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}
.omos {
  width: 75%;
  height: 375px;
  margin-top: 25px;
  background-color: rgb(212, 212, 212);
  box-shadow: 0px 0px 5px 4px rgba(0,0,0,0.6);
  border-radius: 15px;
}